@import "~antd/dist/antd.css";

.App {
  height: 100%;
}
.logo {
  font-family: "Luckiest Guy";
  height: 100%;
  float: left;
  text-align: center;
  line-height: "64px";
}
h1 {
  margin: 0;
  color: white;
}

#mapid {
  height: 320px;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  #mapid {
    height: 320px;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #mapid {
    height: 480px;
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #mapid {
    height: 760px;
    width: 760px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #mapid {
    height: 990px;
    width: 990px;
    display: block;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #mapid {
    height: 900px;
    width: 900px;
    display: block;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1600px) {
  #mapid {
    height: 1200px;
    width: 1200px;
    display: block;
    padding: 0;
    margin: 0;
  }
}
