@import "~antd/dist/antd.css";

.App {
  font-family: "Luckiest Guy";
  height: 100%;
}
.logo {
  height: 100%;
  float: left;
  text-align: center;
  line-height: "64px";
}
h1 {
  margin: 0;
  color: white;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  #mapid {
    height: 240px;
    width: 240px;
    display: block;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #mapid {
    height: 360px;
    width: 360px;
    display: block;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #mapid {
    height: 575px;
    width: 575px;
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #mapid {
    height: 745px;
    width: 745px;
    display: block;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #mapid {
    height: 900px;
    width: 900px;
    display: block;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1600px) {
  #mapid {
    height: 1200px;
    width: 1200px;
    display: block;
    padding: 0;
    margin: 0;
  }
}
