@import "~antd/dist/antd.css";
.App {
  height: 100%;
  font-size: 8px;
}
.logo {
  font-size: 1em;
  font-family: "Luckiest Guy";
  height: 100%;
  float: left;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
h1 {
  margin: 0;
  color: white;
}

.Sidebar {
  overflow: visible;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .App {
    font-size: 8px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {
  .App {
    font-size: 12px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .App {
    font-size: 14px;
  }
  .Sidebar {
    overflow: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .App {
    font-size: 16px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .App {
    font-size: 16px;
  }
}
